page-details {
    .number-row {
        h1{
            margin: 0 auto;
            font-size: 15rem;
            color: #068587;
        }
    }

    .detail-content {
        margin-bottom: 3%;;
    }
}
